* {
	border: none;
	border-radius: 0;
	font-family: Source Code Pro;
}

window#waybar {
	background: rgba(12, 12, 12, 0.0);
	color: #AAB2BF;
	padding: 0 20px;
}

#clock,
#battery,
#pulseaudio,
#network,
#workspaces button 
{
	background: rgba(0,0,0, 0.6);
	padding: 0 0.7rem;
	border-radius: 0 0 0.9rem 0.9rem;
}

window#waybar.empty #window {
	background: rgba(12, 12, 12, 0.0);
}

#network {
	margin-right:20px;
}

