* {
	border: none;
	border-radius: 0;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

window#waybar {
	background: #000;
	color: #AAB2BF;
}

#battery,
#pulseaudio,
#network,
#workspaces button 
{
	padding: 0 2rem;
	margin: 0.5rem 0.3rem;
	background: #222;
	border-bottom: 2px solid #222;
	font-size: 1rem;
	transition: 200ms ease all;
}

#workspaces button {
	font-size: 1.2rem;
}

#workspaces button.active,
#workspaces button.focused {
	padding: 0 4rem;
	border-color: #eb146b;
}


#workspaces button.empty {
	background: #111;
	opacity: 0.8;
}

#network {
	margin-right:20px;
}

#network.disconnected { 
	background: #eb146b; 
	color: #000;
	border-color: #eb146b;
}
#network.wifi {
	border-color: #2fd0ac;
}

#workspaces {
	margin-left:20px;
}

