
* {
	border: none;
	border-radius: 0;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

window#waybar {
	background: @bg-prim;
	color: #AAB2BF;
}

#battery,
#pulseaudio,
#network,
#workspaces button 
{
	padding: 0 2rem;
	margin: 0.5rem 0.3rem;
	background: @bg-sec;
	border-bottom: 2px solid @bg-sec;
	font-size: 1rem;
	transition: 200ms ease all;
}

#workspaces button {
	font-size: 1.2rem;
}

#workspaces button.active,
#workspaces button.focused {
	padding: 0 4rem;
	border-color: @clr1-prim;
}


#workspaces button.empty {
	background: @bg-tert;
	opacity: 0.8;
}

#network {
	margin-right:20px;
}

#network.disconnected { 
	background: @clr1-prim; 
	color: @bg-prim;
	border-color: @clr1-prim;
}
#network.wifi {
	border-color: @clr2-prim;
}

#workspaces {
	margin-left:20px;
}

